#header {
  margin: 0px 60px 0px 60px;
  background-color: #313c4e;
  padding: 10px;
}
#header h1 {
  font-size: 25px;
  color: white;
}
#header h4 {
  color: #3e8593;
  font-size: 12px;
  padding-top: 2px;
}
#header p {
  font-size: 8px;
  color: white;
  padding-top: 7px;
}
.content-section h2 {
  text-decoration: underline;
  color: #3e8593;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 3px;
}
#contacts {
  margin: 0px 60px 0px 60px;
  background-color: #222a33;
  color: white;
  text-align: center;
  font-size: 10px;
  word-spacing: 10px;
  padding: 10px;
}
#contacts a {
  color: white;
}
#main-section {
  margin: 0px 0px 0px 60px;
}
#main-section h3 {
  color: black;
  font-weight: bolder;
  font-size: 11px;
  padding-bottom: 1px;
  padding-top: 2px;
}
.content-type-1-section-1 p {
  font-size: 10px;
}
.content-type-1-section-1 h6 {
  font-size: 7px;
  font-style: italic;
  color: #807e7e;
  padding-bottom: 10px;
}
.left-section .sub-highlight{
  font-style: italic;
  font-size: 7px;
  color: #61aabf;
  display: block;
}
#main-section ul {
  font-size: 7px;
  list-style-type: square;
  list-style-position: inside;
}
.left-section .sub-highlight-1 {
  font-style: italic;
  font-size: 7px;
  color: #61aabf;
}
.right-section .blocks li {
  display: inline-block;
  border: 1px solid #989da6;
  border-radius: 3px;
  background-color: #989da6;
  color: white;
}
.right-section .blocks-1 li {
  display: inline-block;
  border: 1px solid #b2b2b2;
  border-radius: 3px;
  padding: 3px;
  color: black;
}
