<<<<<<< HEAD
body{
  background-image: url(../images/resume.jpg);
  background-position: center top;
  height: 1750px;
}
.header {
=======
 #header {
  margin: 0px 60px 0px 60px;
>>>>>>> 3840e66b8c628fbeac01c6467861044ce3ab7221
  background-color: #313c4e;
  height: 260px;
}
.main-section{
  height: 1363px;
  padding: 33px;
  background-color: white
  ;
}
.container {
  width: 1130px;
  margin: 0px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flex-container {
  display: flex;
}
.sb {
  justify-content: space-between;
}
.header h1 {
  color: white;
  font-size: 49px;
  padding-bottom: 5px;
  padding-top: 46px;
}
.header h4 {
  color: #418f93;
  font-size: 28px;
}
.header p {
  color: white;
  font-size: 23px;
  padding: 25px 0px;
  width: 113%;
}
.image {
  padding: 49px;
}
.image img {
  border-radius: 100%;
  width: 184px;
  height: 173px;
}
.contacts {
  background-color: #222a33;
  height: 23px;
  padding: 18px;
  font-size: 19px;
}
.center {
  justify-content: center;
}
.contacts a {
  color: white;
  padding: 45px;
}
.col82 {
  width: 74%;
}
.col12 {
  width: 10%;
}
.se {
  justify-content: space-between;
}
.sa{
  justify-content: space-around;
}
.col48 {
  width: 46%;
}
.content-section h2 {
  font-weight: bold;
  color: #449399;
  font-size: 31px;
  text-decoration: underline;
  padding-bottom: 12px;
}
.content-section h3 {
  padding-top: 8px;
  font-weight: bold;
  font-size: 29px;
}
.content-section p {
  font-size: 28px;
  padding-bottom: 7px;

}
.sub-highlight {
  font-style: italic;
  color: skyblue;
  font-size: 19px;
  display: inline-block;
  padding: 5px 0px;
}
ul li {
  font-size: 19px;
  list-style: square;
  list-style-position: inside;
  padding-bottom: 10px;
}
.blocks li {
  display: inline-block;
  border: 1px solid white;
  border-radius: 12px;
  background-color: #989da6;
  width: 111px;
  text-align: center;
  padding: 7px;
  margin: 7px 0px 2px 10px;
  color: white;
}
.sub-highlight-2 {
  font-style: italic;
  font-size: 13px;
  color: #9d9897;
  display: inline-block;
  padding-bottom: 11px;
}
.blocks-1 li{
    border: 2px solid #989da6;
    border-radius: 12px;
    display: inline-block;
    padding: 10px;
}
.blocks{
  padding-bottom: 10px;
}
.highlight-1 .sub-highlight{
padding-bottom: 32px;
}
.highlight-1 p{
  padding bottom: 5px;
}
.content-type-1-section-1 h6{
  font-style: italic;
  font-size: 13px;
  color: #9d9897;
  padding-bottom: 10px;
}
.content-type-1-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 81%;
  justify-content: space-between;
} 
.right-side .content-section{
  padding-bottom: 50px;
}
.right-side p{
  font-size: 21px;
  padding: 2px;
}
.right-side h6{
  padding-bottom: 5px;
}
