body{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
header{
    background-color: #323639;
}
.maincontainer{
   background-color: blue;
   margin: 0%;
}
#header_container{
    padding-left: 0px;
}
#header_container h1{
    font-size: 40px;
    color: white;
    padding: 20px 10px 0px 17%;
}
#header_container h4{
    font-size: 26px;
}
#header_container p{
    font-size: 20px;
    line-height: 24px;
    color: white;
}
#contact a:first-child{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 18%;
}
#contact a{
    padding-left: 100px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#contact span{
    color: white;
    font-size: 20px;
    padding-left: 160px;
}
/* left side section style start here*/
.left-col{
    background-color: chocolate;
    padding-left: 58px;
    margin-left: 70px;
}
.main_section{
    background-color: turquoise;
    padding: 30px 50px;
    display: flex;
}
.content-section{
    padding: 30px 20px 20px 0px;
}
.content-section h2{
    font-size: 22px;
    font-weight: bold;
}
.content-type-1-section ul li{
    font-size: 18px;
}
.expericence_address span:last-child{
    padding-left: 240px;
}
.content-type-1-section h3{
    font-size: 22px;
}
.content-type-1-section p{
    font-size: 18px;
}
.content-type-1-section span{
    font-size: 14px;
}
/*right col style start here*/
.right-col{
    background-color: darkgoldenrod;
    padding-left: 59px;
    margin-right: 80px;
    margin-left: 70px;
}
.list li{
    display: inline;
    list-style: none;
    font-size: 18px;
    border: 1px solid;
}
.content-type-1-selection p{
    font-size: 20px;
}
.last-list a{
    border-radius: 20px;
    background-color: darkgrey;
    padding: 10px;
    text-decoration: none;
    color: black;
}